In [16]:
import pandas as pd

tabela = pd.read_csv('ecommerceData.csv')

#display(tabela)

#graph1 = tabela.groupby(['Warehouse_block']).mean()

In [17]:
# QUANTIDADE DE PRODUTOS POR GALP√ÉO
galpao = tabela['Warehouse_block'].value_counts()
display(galpao)

Warehouse_block
F    3666
D    1834
A    1833
B    1833
C    1833
Name: count, dtype: int64

In [18]:
# QUANTIDADE DE PRODUTOS POR MEIO DE TRANSPORTE
transport = tabela['Mode_of_Shipment'].value_counts()
display(transport)

Mode_of_Shipment
Ship      7462
Flight    1777
Road      1760
Name: count, dtype: int64

In [31]:
# SE ESTA ENTREGUE EM TEMPO POR MEIO DE TRANSPORTE
col_transp = tabela['Mode_of_Shipment']
col_tempo = tabela['Reached.on.Time_Y.N']
tab_transp = pd.DataFrame({'transporte': col_transp, 'entregue': col_tempo})

transp_tempo = tab_transp.groupby(['transporte']).count()
display(transp_tempo)

            entregue
transporte
Flight          1777
Road            1760
Ship            7462